lib

# Logs
logs
*.log

# Node
node_modules
npm-debug.log*

# Testing
coverage
.nyc_output
.nyc_tmp

pids
*.pid
*.seed
*.sublime-project
*.sublime-workspace
.next
.DS_Store

.env-*
__pycache__
dist
*.egg-info

.env
.vscode